.sidebar {
    display: none;
    position: fixed;
    z-index: 999;
}

.sidebar.open {
    display: block;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1), 0px 10px 40px 0px rgba(29, 33, 38, 0.13);
    background: rgb(255, 255, 255);
    width: 317px;
    height: 720px;
}

.background {
    background: rgb(0, 0, 0);
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.nav {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-left: 70px;
}

.nav a {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(88, 172, 255);
}

.nav a.active {
    color: rgb(0, 89, 178);
    text-decoration-line: underline;
}

.close {
    position: absolute;
    left: 90%;
    border: none;
    background-color: transparent;
    top: 1%;
}

.close img {
}
