.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #6366F1;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}