.input:focus {
}

.input {
    width: 372px;
    height: 36px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    color: red;
}

.superInput {
}

.errorInput {
    border: 1px solid red
}

.errorInput:focus {
}

.error {
}
