.tech {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.loading {
    color: rgb(77, 77, 77);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: right;
    max-width: 370px;
    margin-top: 10px;
}