.App {
    --header_height: 60px;
}

.hw {
    margin-top: 40px;
}

.hwTitle {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

#hw2, #hw1 {
    margin-top: 37px;
    padding-left: 70px;
    padding-right: 70px;
}

