.burgerMenuIcon {
    width: 24px;
    height: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 17px 70px;
    box-shadow: 0px 0px 2px 0px rgba(29, 33, 38, 0.1),0px 0px 40px 0px rgba(29, 33, 38, 0.13);
    background: rgb(255, 255, 255);
}

.header h1 {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}